/* 轮播图内容 */
.content{
    width: 100%;
    height: 100vh;
    position: relative;
}
#container{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

#list {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1
}
#list a {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}
#list a img {
    width: 100%;
   object-fit: cover;
    float: left;
    display: block;
}

#pre {
    width: 33px;
    height: 66px;
    text-align: center;
    float: left;
    position: absolute;
    top: 10%;
    cursor: pointer;
    background: rgba(0,0,0,.2);
    border-radius: 2px;
    display: none;
    z-index: 2;
}
#pre p{
    width: 16px;
    height: 66px;
    margin: 0 auto;
    background: url(../images/arrows.png) no-repeat center;
    transform: rotate(180deg);
}
#pre p:hover{
    background: url(../images/arrows2.png) no-repeat center;
}

#next {
    width: 33px;
    height: 66px;
    text-align: center;
    float: left;
    position: absolute;
    top: 10%;
    right: 0px;
    cursor: pointer;
    background: rgba(0,0,0,.2);
    border-radius: 2px;
    display: none;
    z-index: 2;
}
#next p{
    width: 16px;
    height: 66px;
    margin: 0 auto;
    background: url(../images/arrows.png) no-repeat center;
}
#next p:hover{
    background: url(../images/arrows2.png) no-repeat center;
}
#container:hover #pre,
#container:hover #next {
    display: block;
}

#dot {

}
#dot span {
    
}
#dot .on {
    
}